html {
    background-image: url("fondo.jpg");
}

header h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(0, 0, 0, 0.774);
    background-color:rgba(128, 128, 128, 0.4);
    padding: 40px 0px;
    margin-top: 20px;
    border-radius: 7%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

form label {
    width: 400px;
    margin: 5px 0px;
}

form input {
    width: 400px;
    margin: 5px 0px;
}

form p {
    margin:5px 0px;
    font-size: 14px;
    line-height: normal;
}

form div {
    
    display: flex;
    justify-content: space-between;

}

#submit-b,#reset-b {
    width: 40%;
}

a {
    color:black;
    font-size: 18px;
    font-weight: 600;
    margin:10px 0px;
}

a:hover {
    color:grey;
}

.button {
    margin: 2px;
    padding: 4px 6px;
}

#validation-button {
    margin:5px 0px 10px 0px;
    padding: 4px 6px;
}

#validation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    background-color: rgba(128, 128, 128, 0.4);
    color:black;
    margin-top: 20px;
    padding: 2px;
    border: 5px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

#validation p {

    margin: 5px;
}